.P1-details{
    font-size: 18px;
}
.title-1{
    color: rgba(231, 111, 81, 1);
}
.rating-icon{
    width: 20px;
}
.all-icon{
    text-align: center;
}
.ht{
    text-align: center;
}
.htitle2{
    color: rgba(231, 111, 81, 1);
}